DATABASE=db.sqlite
JWT_SECRET=your-secret-key
COOKIE_KEY=your-cookie-key
NODE_ENV=development
JWT_EXPIRES_IN=7d
PORT=3000
HOST=0.0.0.0
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://your-host:4173
